





<mat-sidenav-container color="primary" >
  <mat-sidenav #sidenav mode="side"> <mat-list><br><br>
    <mat-list-item style="margin-top:100px"> <a mat-line routerLink="/uploadNotice">Upload Notice</a> </mat-list-item><br><br>
    <mat-list-item> <a mat-line routerLink="/Enquiry">Enquiry</a> </mat-list-item><br><br>
    <mat-list-item> <a mat-line routerLink="#"></a> </mat-list-item>
  </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <span><button mat-flat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button></span> &nbsp;&nbsp;&nbsp;&nbsp;
      <span>Home</span>
  </mat-toolbar>  <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


